{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand"href="{{ .Site.BaseURL }}"><img class="img-fluid" src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}"></a>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          {{ end }}
        </ul>
        {{ if .Site.Params.search.enable }}
        {{ "<!-- search -->" | safeHTML }}
        <div class="search">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
          <div class="search-wrapper">
            <form action="{{ .Site.BaseURL }}/search" class="h-100">
              <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="Type & Hit Enter...">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
